body {
    background: url('http://s.bootply.com/assets/64531/green_suburb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.side-nav-bg
{
    background-image: url("../img/wp3243745.jpg");
}